.cookie-banner {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, .85);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    color: #000
}

.cookie-banner.cookie-hidden {
    display: none
}

.cookie-banner .cookie-banner-container {
    position: fixed;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
    width: calc(100% - 2rem);
    max-width: 767px;
    padding: 2rem 1rem 2rem 2rem;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden
}

.cookie-banner .cookie-banner-form {
    width: 100%;
    height: 100%;
    margin-bottom: -1rem;
}

.cookie-banner .cookie-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    overflow-y: auto
}

.cookie-banner .headline-container {
    margin-bottom: 1.5rem;
    font-size: 1.8rem
}

.cookie-banner .headline-container > * {
    margin: 0
}

.cookie-banner .description-container {
    line-height: 150%
}

.cookie-links {
    margin-bottom: 2rem
}

.cookie-links a {
    color: #000;
    padding: 0 1rem 0 0;
    text-decoration: underline
}

.cookie-settings {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%
}

.cookie-settings .settings-checkbox {
    max-width: calc(100% / 3);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto 1rem auto;
    position: relative
}

.cookie-settings input[type=checkbox] + label {
    cursor: pointer;
    padding-left: .75rem;
    line-height: calc(1.2rem + 2px)
}

.cookie-settings input[disabled=disabled] + label {
    opacity: .6;
    cursor: not-allowed
}

.cookie-settings input[type=checkbox] + label:before {
    content: ' ';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    background-color: #fff;
    border: 2px solid #ccc;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    left: 0;
    top: 0;
    line-height: 1.2rem
}

.cookie-settings input[type=checkbox]:checked + label:before {
    background: #98ee99;
    content: '✓';
    border: 2px solid #98ee99
}

.cookie-settings input[type=checkbox]:checked, .cookie-settings input[type=checkbox]:not(:checked) {
    position: relative;
    background: 0 0;
    border: none;
    visibility: visible;
    margin: 0;
    padding: 0;
    width: calc(1.2rem + 4px);
    height: calc(1.2rem + 4px);
    left: 0;
    top: 0
}

.cookie-settings input[type=checkbox]:checked:focus, .cookie-settings input[type=checkbox]:not(:checked):focus {
    outline: 0
}

.cookie-banner .submit-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end
}

.cookie-banner button {
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
    margin-left: 1rem;
    margin-bottom: 1rem
}

.cookie-banner .cookie-custom {
    border: 2px solid #ccc;
    background-color: #ccc
}

.cookie-banner .cookie-custom:hover {
    background-color: #989898;
    border: 2px solid #989898;
    color: #fff
}

.cookie-banner .cookie-all {
    background-color: #98ee99;
    border: 2px solid #98ee99
}

.cookie-banner .cookie-all:hover {
    background-color: #338a3e;
    border-color: #338a3e;
    color: #fff
}

/*
 * mobile styling
 */
@media only screen and (max-width: 767px) {
    .cookie-banner .cookie-banner-container {
        padding: 1.5rem 1.5rem 10.5rem 1.5rem;
        max-height: calc(100% - 1rem);
        height: auto;
        width: calc(100% - 1rem);
        bottom: .5rem;
        left: .5rem;
        -webkit-transform: none;
        transform: none
    }

    .cookie-banner .cookie-banner-form {
        margin-bottom: 0;
    }

    .cookie-banner .cookie-content-container {
        height: 100%;
        max-height: calc(100% - 1rem - 9rem);
        padding-right: 0
    }

    .cookie-settings .settings-checkbox {
        max-width: 100%;
        margin-bottom: 1rem
    }

    .cookie-banner .submit-container {
        position: fixed;
        bottom: 1.5rem;
        left: 2rem;
        right: 2rem;
        width: calc(100% - 4rem);
        background-color: #fff;
        padding-top: 1rem
    }

    .cookie-banner button {
        width: 100%;
        text-align: center;
        margin-left: 0
    }
}
